.W_main {
    padding-bottom: 60px;
    background-color: #f5f5f5;
    .W_home_banner {
        position: relative;
        .swiper-container {
            margin: 0 auto;
            position: relative;
            // overflow: hidden;
            list-style: none;
            padding: 0;
            z-index: 1;
         
        }
    }

    .W_index_block {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        .tp_list {
            position: relative;
            margin-bottom: 32px;
        }
        .index_floor{
            position: relative;
            margin-bottom: 32px;
        }
        .index_block_01 {
            height: 280px;
            overflow: hidden;
            margin-top: 11px;
            .pp_a {
                position: relative;
                display: block;
                width: 291px;
                height: 280px;
                margin-right: 12px;
                text-align: center;
                color: #fff;
                overflow: hidden;
                .p_img {
                    height: 280px;
                    transition: all .5s ease;
                }
            }
            .pp_a:last-child {

                margin-right: 0;
            
            }
        
        }
        .index_block_03{
            .index_top_bread {
                height: 60px;
                line-height: 60px;
                overflow: hidden;
                .top_bread_left {
                    display: inline-block;
                    margin-left: 8px;
                    .xsg_h3 {
                        color: #cc5252;
                        font-size: 20px;
                        line-height: 60px;
                    }
                }
                a.see_more {
                    color: #666;
                    line-height: 60px;
                }
            }
            .left_ggt {
                position: relative;
                width: 392px;
                height: 280px;
                margin-right: 12px;
                overflow: hidden;
                .p_img {
                    width: 100%;
                    height: 100%;
                    -webkit-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -ms-transition: all .5s ease;
                    transition: all .5s ease;
                }
                .p_txt {
                    width: 90%;
                    position: absolute;
                    left: 5%;
                    bottom: 28px;
                    text-align: center;
                    color: #fff;
                    z-index: 2;
                    .p1 {
                        font-size: 20px;
                        margin-bottom: 2px;
                        font-weight: 700;
                    }
                    .p2 {
                        letter-spacing: 1px;
                    }
                }
            }
            .buy_list_slider2 {
                background-color: #fff;
                width: 796px;
                margin-right: 0;
                height: 280px;
                .swiper-container {
                    margin: 0 auto;
                    position: relative;
                    overflow: hidden;
                    list-style: none;
                    z-index: 1;
                    padding: 0;
                    height: 100%;
                    .swiper-wrapper {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        display: flex;
                        transition-property: transform,-webkit-transform;
                        box-sizing: content-box;
                        .slider_a {
                            display: inline-block;
                            width: 166px;
                            height: 280px;
                            text-align: center;
                            line-height: 12px;
                            position: relative;
                            .s_img {
                                width: 166px;
                                height: 166px;
                                padding-top: 24px;
                                overflow: hidden;
                                background-color: #fff;
                                .swiper-lazy {
                                    border-radius: 8px;
                                    margin: 0 auto;
                                    display: block;
                                }
                            }
                            .s_txt{
                                .condition {
                                    position: absolute;
                                    left: 20px;
                                    top: 24px;
                                    padding: 2px 9px;
                                    background: linear-gradient(90deg,#e6c9a1 0,#ccaa7a 100%);
                                    border-radius: 8px 1px 12px 1px;
                                    font-size: 12px;
                                    color: #fff !important;
                                    line-height: 14px;
                                }
                                .p1 {

                                    color: #666;
                                    font-weight: 700;
                                    margin-top: 12px;
                                    margin-bottom: 8px;
                                
                                }
                                .tag {

                                    background: linear-gradient(270deg,#f26161 0,#cc3d3d 100%);
                                    border-radius: 8px;
                                    display: inline-block;
                                    padding: 0 3px;
                                    text-align: center;
                                    .icon-d-auction {

                                        display: block;
                                        background-image: url(../img/register3.png);
                                        background-position: -219px -346px;
                                        background-size: 475px;
                                        width: 16px;
                                        height: 16px;
                                    
                                    }
                                    .text {
                                        font-size: 12px;
                                        color: #fff;
                                        line-height: 16px;
                                    }
                                
                                }
                                .del {
                                    display: block;
                                    color: #999;
                                    font-family: DIN-Bold;
                                    margin-top: 3px;
                                    .p1 {
                                        color: #b34747;
                                        margin-right: 3px;
                                        font-weight: 700;
                                        margin-top: 12px;
                                        margin-bottom: 8px;
                                    }
                                    .p2 {
                                        display: inline-block;
                                        height: 20px;
                                        line-height: 20px;
                                        text-align: center;
                                        margin-bottom: 4px;
                                    }
                                }
                            }

                        }
                    }
                    .swiper-button-next {
                        right: 0;
                        width: 30px;
                        height: 60px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        text-indent: -999em;
                        background: 0 0;
                        margin-top: 0;
                        left: auto;
                        z-index: 10;
                        cursor: pointer;
                        .icon-d-h-ctrl02-2 {
                            display: block;
                            background-image: url(../img/list1.png);
                            background-position: -302px -184px;
                            background-size: 475px;
                            width: 30px;
                            height: 60px;
                        }
                        .icon-d-h-ctrl02-22{
                            display: none;
                        }
                    }
                    .swiper-button-prev{
                        left: 0;
                        width: 30px;
                        height: 60px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        text-indent: -999em;
                        background: 0 0;
                        margin-top: 0;
                        left: auto;
                        z-index: 10;
                        cursor: pointer;
                        .icon-d-h-ctrl02-1 {
                            display: block;
                            background-image: url(../img/list1.png);
                            background-position: -142px -184px;
                            background-size: 475px;
                            width: 30px;
                            height: 60px;
                        }
                        .icon-d-h-ctrl02-11{
                            display: none;
                        }
                    }

                }
            }
            
        }
        .index_block_04{
            .index_top_bread {
                height: 60px;
                line-height: 60px;
                overflow: hidden;
                .top_bread_left {

                    display: inline-block;
                    margin-left: 8px;
                    h3{
                        font-size: 20px;
                        color: #4a4a4a;
                        line-height: 60px;
                    }
                    .W_gnTab_nav {
                        float: left;
                        margin-left: 20px;
                        ul {
                            border-bottom: 0;
                            margin-top: 16px;
                            overflow: visible;
                            background: 0 0;
                            width: 100%;
                            display: flex;
                            li{
                                display: block;
                                float: left;
                                cursor: pointer;
                                width: 72px;
                                height: 28px;
                                line-height: 28px;
                                text-align: center;
                                border-radius: 2px;
                                margin-right: 8px;
                                background-color: #333;
                                color: #f2d291;  
                                .icon-d-nav-jiao {
                                    display: block;
                                    background-image: url(/src/img/list1.png);
                                    background-position: -326px -168px;
                                    background-size: 475px;
                                    width: 11px;
                                    height: 4px;
                                    margin: 0 auto;
                                }       
                            }
                        }
                    }
                }
            }
            .W_gnTab_content{
                height: 360px;
                .left_ggt {
                    position: relative;
                    width: 392px;
                    height: 360p    x;
                    margin-right: 12px;
                    overflow: hidden;
                    .p_img {
                        width: 100%;
                        height: 100%;
                        transition: all .5s ease;
                    }
                    .p_txt {
                        width: 90%;
                        position: absolute;
                        left: 5%;
                        bottom: 28px;
                        text-align: center;
                        color: #fff;
                        z-index: 2;
                        .p1 {
                            font-size: 20px;
                            margin-bottom: 2px;
                            font-weight: 700;
                        }
                        .p2 {
                            letter-spacing: 1px;
                        }
                    }
                    .bg_img {
                        width: 100%;
                        height: 110px;
                        position: absolute;
                        bottom: 0;
                        opacity: .6;
                        background-image: linear-gradient(-180deg,rgba(0,0,0,0) 0,#000 100%);
                    
                    }
                }
                .dren_list {
                    width: 796px;
                    height: 360px;
                    margin-bottom: -12px;
                    .dren_a {
                        display: inline-block;
                        width: 392px;
                        height: 174px;
                        margin-bottom: 12px;
                        overflow: hidden;
                    }
                    .dren_a:nth-child(2n+1) {
                        margin-right: 12px;
                    }
                }
            }
        }
    }

}