.W_main{
    width: 100%;
    min-width: 990px;
    margin: 0 auto;
    background: #fff;
    .W_main_head{
        width: 100%;
        height: 100px;
        .W_main_head_logo{
            width: 1000px;
            margin: 25px auto 0; 
            h6{
                font-size: 0;
                a{
                    width: 121px;
                    display: block;
                    img{
                        border: 0;
                        display: block;
                    }
                }
            }   
        }
    }

    .W_main_content{
        position: relative;
        width: 100%;
        height: 580px;
        background: #a5a5a5;
        .login-bg{
            position: absolute;
            width: 100%;
            height: 580px;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: top center;
        }
        .W_main_content_login{
            width: 1000px;
            margin: 0 auto;
            position: relative;
            .loginIframeWrap{
                position: absolute;
                right: 0;
                top: 50px;
                border: none;
                background-color: #fff;
                #W_login_mark{
                    width: 380px;
                    height: 460px;
                    position: relative;
                    background: #fff;
                    .login_tab {
                        overflow: hidden;
                        width: 269px;
                        margin: 0 auto;
                        padding: 40px 0 20px;
                        span {
                            height: 26px;
                            line-height: 26px;
                            font-size: 20px;
                            color: grey;
                            float: left;
                            width: 134px;
                            text-align: center;
                            cursor: pointer;
                        }
                        em {
                            float: left;
                            background: #ddd;
                            height: 24px;
                            font-size: 0;
                            width: 1px;
                            margin-top: 1px;
                        }
                        span.on {
                            color: #cc5252;
                        }
                    }
                    .user_login{
                        .member_login {
                            width: 300px;
                            margin: 0 auto;
                            p{
                                overflow: hidden;
                                input{
                                        width: 100%;
                                        display: block;
                                        box-sizing: border-box;
                                        height: 44px;
                                        margin-top: 12px;
                                        line-height: 44px;
                                        border: 1px solid #ddd;
                                        padding-left: 10px;
                                }
                                i {
                                    font-size: 14px;
                                    color: #cc5252;
                                    line-height: 19px;
                                    margin-top: 8px;
                                    display: block;
                                    padding-left: 10px;
                                }
                                a {
                                    color: #999;
                                    font-size: 14px;
                                }
                            }
                            .captcha_wrap {
                                input {
                                width: 200px;
                                margin-right: 4px;}
                                .img-wrap {
                                    display: inline-block;
                                    width: 94px;
                                    height: 42px;
                                    border: 1px solid #ddd;
                                    margin-top: 12px;
                                }
                            }
                            .message_code{
                                input {
                                    width: 200px;
                                    margin-right: 4px;
                                    float: left;
                                }
                                a {
                                    float: left;
                                    width: 96px;
                                    height: 44px;
                                    background: #b1b1b1;
                                    line-height: 44px;
                                    text-align: center;
                                    font-size: 14px;
                                    color: #fff;
                                    margin-top: 12px;
                                }
                            } 
                            .login {
                                background: #cc5252;
                                text-align: center;
                                font-size: 18px;
                                color: #fff;
                                margin-bottom: 12px;
                                border: none;
                                padding: 0;
                                cursor: pointer;
                                width: 100%;
                                display: block;
                                box-sizing: border-box;
                                height: 44px;
                                margin-top: 12px;
                                line-height: 44px;
                            }
                            .pos {
                                position: absolute;
                                bottom: 24px;
                                right: 40px;
                                padding-top: 11px;
                                a {
                                    float: left;
                                    font-size: 16px;
                                    color: #999;
                                    line-height: 22px;
                                    position: relative;
                                    em {
                                        position: absolute;
                                        top: -11px;
                                        left: 100px;
                                        display: block;
                                        background-image: url(../img/register3.png);
                                        background-position: -371px -270px;
                                        background-size: 589px;
                                        height: 15px;
                                    }
                                }
                                em {
                                    font-size: 16px;
                                    color: #ccc;
                                    line-height: 22px;
                                    float: left;
                                    width: 25px;
                                    text-align: center;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }

    .W_pt_footer{
        border-top: 1px solid #eee;
        padding: 50px 0;
        width: 640px;
        margin: 0 auto;
        p{
            display: block;
            text-align: center;
            font-size: 12px;
            color: #999;
            line-height: 20px;
        }
    }
}