@charset "UTF-8";
.W_main {
  width: 100%;
  min-width: 990px;
  margin: 0 auto;
  background: #fff; }
  .W_main .W_bread {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: url(//static.wbiao.co/p/pc/images/goods/W_detail_Bread.png) repeat-x;
    overflow: hidden;
    color: #666;
    margin-bottom: 18px; }
    .W_main .W_bread .bread_inner {
      width: 1200px;
      margin: 0 auto; }
      .W_main .W_bread .bread_inner .bread_left a::before {
        content: ">";
        font-size: 13px;
        color: #383737;
        display: inline-block;
        font-family: "瀹嬩綋";
        margin-right: 8px;
        margin-left: 5px; }
      .W_main .W_bread .bread_inner .top_hot_keyword a {
        display: block;
        margin: 0 8px;
        line-height: 36px; }
  .W_main .W_list_wrap {
    width: 1200px;
    margin: 0 auto; }
    .W_main .W_list_wrap .list_left_area {
      width: 210px;
      display: inline; }
      .W_main .W_list_wrap .list_left_area .list_act {
        position: relative;
        height: 416px;
        margin-bottom: 25px;
        width: 100%;
        overflow: hidden; }
        .W_main .W_list_wrap .list_left_area .list_act .bx-controls .bx-pager {
          height: 6px;
          text-align: center; }
          .W_main .W_list_wrap .list_left_area .list_act .bx-controls .bx-pager .bx-pager-item {
            display: inline-block; }
            .W_main .W_list_wrap .list_left_area .list_act .bx-controls .bx-pager .bx-pager-item a {
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: #ccc;
              font-size: 0;
              margin: 0 3px; }
            .W_main .W_list_wrap .list_left_area .list_act .bx-controls .bx-pager .bx-pager-item a.active {
              background: #cc9952; }
      .W_main .W_list_wrap .list_left_area .friend_comment {
        margin-bottom: 25px;
        width: 100%;
        overflow: hidden; }
        .W_main .W_list_wrap .list_left_area .friend_comment .tab_txt {
          background-color: #f1f1f1;
          display: flex; }
          .W_main .W_list_wrap .list_left_area .friend_comment .tab_txt li {
            flex: 1;
            display: inline-block;
            cursor: pointer;
            color: #999;
            font-size: 14px;
            text-align: center;
            height: 40px;
            line-height: 40px; }
        .W_main .W_list_wrap .list_left_area .friend_comment .moudle_con {
          padding-top: 0;
          padding-bottom: 30px;
          position: relative;
          height: 308px;
          background-color: #fff; }
          .W_main .W_list_wrap .list_left_area .friend_comment .moudle_con .bx-wrapper {
            position: absolute;
            background-color: #fff;
            z-index: 1;
            height: 100%; }
          .W_main .W_list_wrap .list_left_area .friend_comment .moudle_con .bx-pager {
            margin-top: 30px;
            height: 2px;
            text-align: center; }
            .W_main .W_list_wrap .list_left_area .friend_comment .moudle_con .bx-pager .bx-pager-item {
              display: inline-block; }
              .W_main .W_list_wrap .list_left_area .friend_comment .moudle_con .bx-pager .bx-pager-item a {
                width: 20px;
                height: 2px;
                background-color: #ccc;
                border-radius: 0;
                font-size: 0;
                margin: 0 3px;
                display: block; }
              .W_main .W_list_wrap .list_left_area .friend_comment .moudle_con .bx-pager .bx-pager-item a.active {
                background-color: #cc9952; }
      .W_main .W_list_wrap .list_left_area .brows_history {
        margin-bottom: 25px;
        width: 100%;
        overflow: hidden; }
        .W_main .W_list_wrap .list_left_area .brows_history .history_tit {
          color: #666;
          font-size: 14px;
          font-weight: 700;
          height: 40px;
          line-height: 40px;
          background-color: #f1f1f1;
          padding-left: 12px; }
        .W_main .W_list_wrap .list_left_area .brows_history .history_goods {
          padding: 28px 15px 0;
          color: #959595;
          line-height: 20px;
          border: 1px solid #eee; }
          .W_main .W_list_wrap .list_left_area .brows_history .history_goods a {
            display: block;
            margin-bottom: 28px;
            overflow: hidden; }
            .W_main .W_list_wrap .list_left_area .brows_history .history_goods a .p1 {
              position: relative;
              width: 160px;
              margin: 0 auto;
              text-align: center;
              background: #e6e6e6 url(//static.wbiao.co/p/pc/images/1/bitmap.png) no-repeat center center;
              background-color: #fff; }
              .W_main .W_list_wrap .list_left_area .brows_history .history_goods a .p1 > img {
                display: inline-block;
                height: 160px; }
              .W_main .W_list_wrap .list_left_area .brows_history .history_goods a .p1 .yaofeng {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0; }
                .W_main .W_list_wrap .list_left_area .brows_history .history_goods a .p1 .yaofeng img {
                  width: 100%; }
                .W_main .W_list_wrap .list_left_area .brows_history .history_goods a .p1 .yaofeng span {
                  position: absolute;
                  right: 3px;
                  bottom: 3px;
                  color: #fff;
                  font-size: 12px;
                  font-family: DIN-Bold; }
                  .W_main .W_list_wrap .list_left_area .brows_history .history_goods a .p1 .yaofeng span .yaofeng_price {
                    font-size: 14px;
                    font-family: DIN-Bold; }
            .W_main .W_list_wrap .list_left_area .brows_history .history_goods a .month_tag {
              position: relative;
              top: -2px;
              display: inline-block;
              padding: 0 2px;
              background: linear-gradient(270deg, #ff8080 0, #e65c5c 100%);
              border-radius: 2px;
              color: #fff; }
            .W_main .W_list_wrap .list_left_area .brows_history .history_goods a .fenqi_price {
              margin-right: 10px;
              color: #e65c5c;
              font-size: 16px;
              font-family: DIN-Bold; }
            .W_main .W_list_wrap .list_left_area .brows_history .history_goods a .s_price {
              position: relative;
              color: #666;
              font-size: 16px;
              font-family: DIN-Bold;
              font-weight: 400; }
            .W_main .W_list_wrap .list_left_area .brows_history .history_goods a .p3 {
              margin-top: 6px;
              color: #999; }
      .W_main .W_list_wrap .list_left_area .watch_information {
        margin-bottom: 25px;
        width: 100%;
        overflow: hidden; }
      .W_main .W_list_wrap .list_left_area .moulde_side {
        margin-bottom: 25px;
        width: 100%;
        overflow: hidden; }
        .W_main .W_list_wrap .list_left_area .moulde_side .tab_txt {
          background-color: #f1f1f1;
          display: flex; }
          .W_main .W_list_wrap .list_left_area .moulde_side .tab_txt li {
            flex: 1;
            display: inline-block;
            cursor: pointer;
            color: #999;
            font-size: 14px;
            text-align: center;
            height: 40px;
            line-height: 40px; }
        .W_main .W_list_wrap .list_left_area .moulde_side .moudle_con {
          padding-top: 20px;
          color: #959595;
          line-height: 20px;
          border: 1px solid #eee; }
          .W_main .W_list_wrap .list_left_area .moulde_side .moudle_con .hot_word, .W_main .W_list_wrap .list_left_area .moulde_side .moudle_con .tab_con {
            padding: 0 8px 12px 8px; }
            .W_main .W_list_wrap .list_left_area .moulde_side .moudle_con .hot_word a, .W_main .W_list_wrap .list_left_area .moulde_side .moudle_con .tab_con a {
              display: inline-block;
              color: #666;
              padding: 4px 11px;
              border: 1px solid #ddd;
              border-radius: 100px;
              margin-right: 4px;
              margin-bottom: 8px; }
    .W_main .W_list_wrap .list_right_area {
      width: 970px; }
      .W_main .W_list_wrap .list_right_area .search_floor {
        position: relative;
        color: #666;
        background: #fff;
        margin-bottom: 45px; }
        .W_main .W_list_wrap .list_right_area .search_floor .srh_result {
          position: relative;
          background: #fafafa;
          min-width: 22px;
          line-height: 22px;
          padding: 5px 80px 5px 12px;
          border: 1px solid #ddd;
          border-bottom: 0; }
          .W_main .W_list_wrap .list_right_area .search_floor .srh_result .select_a {
            display: inline-block; }
          .W_main .W_list_wrap .list_right_area .search_floor .srh_result .cancel_selection {
            color: #999;
            position: absolute;
            top: 7px;
            right: 10px; }
        .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line {
          border: 1px solid #ddd;
          border-top: 0; }
          .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .property_list {
            margin-bottom: -1px; }
            .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .property_list .srh_block {
              line-height: 40px;
              position: relative;
              border-bottom: 1px solid #eee; }
            .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .property_list .srh_block:nth-child(2) {
              border: 0;
              margin-bottom: 1px; }
            .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .property_list .hide {
              display: none; }
          .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block {
            line-height: 40px;
            position: relative;
            border-bottom: 1px solid #eee; }
            .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block .srh_title {
              border-top: 1px solid #fff; }
            .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block .srh_right {
              position: relative;
              margin-left: 80px;
              margin-right: 12px; }
              .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block .srh_right .srh_option {
                width: 750px;
                height: 26px;
                padding: 7px 15px;
                overflow: hidden; }
                .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block .srh_right .srh_option li {
                  margin-right: 23px;
                  display: block; }
                .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block .srh_right .srh_option li.on a {
                  background: #333;
                  color: #fff;
                  border-radius: 2px;
                  padding-bottom: 1px; }
              .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block .srh_right .brand_option .srh_option {
                height: auto; }
                .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block .srh_right .brand_option .srh_option li {
                  width: 110px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  margin-right: 10px; }
                  .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block .srh_right .brand_option .srh_option li a {
                    padding: 0 3px 1px; }
              .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block .srh_right .price_range {
                position: absolute;
                right: 0; }
                .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block .srh_right .price_range .price_input {
                  text-align: center;
                  border: 1px solid #dbdbdb;
                  outline: 0;
                  height: 19px;
                  line-height: 19px;
                  vertical-align: middle; }
                .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_block .srh_right .price_range .price_btn {
                  width: 52px;
                  height: 20px;
                  line-height: 17px;
                  cursor: pointer;
                  margin-left: 8px;
                  display: inline-block;
                  background: #f0f0f0;
                  border: 1px solid #ececec;
                  text-align: center;
                  color: #666; }
          .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .property_list {
            margin-bottom: -1px; }
          .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_more_btn {
            position: absolute;
            right: 0; }
            .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_more_btn a {
              display: inline-block;
              width: 50px;
              background: #f0f0f0;
              border: 1px solid #ececec;
              margin-left: 5px;
              margin-top: 10px;
              text-align: center;
              color: #666; }
            .W_main .W_list_wrap .list_right_area .search_floor .search_filter_line .srh_more_btn .icon-d-down {
              transition: all .3s ease;
              display: inline-block;
              vertical-align: top;
              margin-top: 4px;
              background-image: url(../img/list1.png);
              background-position: -389px -86px;
              background-size: 475px;
              width: 12px;
              height: 12px; }
        .W_main .W_list_wrap .list_right_area .search_floor .srh_more_block {
          width: 280px;
          height: 24px;
          line-height: 20px;
          position: absolute;
          bottom: -24px;
          left: 50%;
          margin-left: -140px;
          text-align: center;
          margin-bottom: 1px; }
          .W_main .W_list_wrap .list_right_area .search_floor .srh_more_block .toggle_btn {
            width: auto;
            display: inline-block;
            padding: 0 13px;
            height: 24px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-top-color: #dddddd;
            border-top-color: #fff;
            cursor: pointer;
            color: #999; }
            .W_main .W_list_wrap .list_right_area .search_floor .srh_more_block .toggle_btn .icon-a-wallet-down1 {
              margin-bottom: -1px;
              display: inline-block;
              background-image: url(../img/register3.png);
              background-position: -576px -434px;
              background-size: 589px;
              width: 10px;
              height: 10px; }
      .W_main .W_list_wrap .list_right_area .goods_floor {
        margin: 0 auto 25px;
        background: #fff; }
        .W_main .W_list_wrap .list_right_area .goods_floor .sort_list {
          position: relative;
          border-bottom: 1px solid #eee; }
          .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .sort_con01 {
            display: inline-block;
            vertical-align: top; }
            .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .sort_con01 li {
              display: block;
              float: left;
              width: 80px;
              height: 36px;
              text-align: center; }
              .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .sort_con01 li a {
                position: relative;
                line-height: 34px;
                display: inline-block; }
            .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .sort_con01 li.on a {
              color: #cc9952;
              font-weight: 700;
              border-bottom: 3px solid #cc9952; }
          .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .sort_con02 {
            display: inline-block;
            margin-top: 8px;
            padding-left: 10px;
            border-left: 1px solid #ddd; }
            .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .sort_con02 a {
              margin-left: 20px; }
              .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .sort_con02 a .radio_def {
                position: relative;
                display: inline-block;
                width: 14px;
                height: 14px;
                border: 1px solid #ccc;
                border-radius: 20%;
                margin-bottom: -3px;
                margin-right: 4px;
                box-sizing: border-box; }
          .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .stop_pages {
            line-height: 36px; }
            .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .stop_pages .p_pagesnum {
              margin-right: 10px;
              font-size: 14px;
              color: #999; }
              .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .stop_pages .p_pagesnum i {
                font-size: 14px; }
            .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .stop_pages a {
              position: relative;
              display: inline-block;
              width: 24px;
              height: 24px;
              text-align: center;
              vertical-align: middle;
              z-index: 0; }
              .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .stop_pages a i {
                position: absolute;
                top: 6px;
                left: 6px; }
              .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .stop_pages a .icon-a-arrow02-1 {
                display: block;
                background-image: url(../img/register3.png);
                background-position: -576px -474px;
                background-size: 589px;
                width: 6px;
                height: 11px; }
              .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .stop_pages a .icon-a-arrow02-2 {
                display: block;
                background-image: url(../img/register3.png);
                background-position: -576px -516px;
                background-size: 589px;
                width: 6px;
                height: 11px; }
            .W_main .W_list_wrap .list_right_area .goods_floor .sort_list .stop_pages a.unfouse {
              cursor: default; }
        .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul {
          margin-right: -8.6px; }
          .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li {
            position: relative;
            width: 236px;
            height: 450px;
            display: block;
            overflow: hidden;
            float: left;
            margin: 10px 8.6px 10px 0; }
            .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .s_goods_img {
              display: block;
              overflow: hidden;
              width: 220px;
              height: 275px;
              margin: 10px auto 5px auto;
              position: relative;
              text-align: center; }
              .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .s_goods_img img {
                width: auto;
                height: 275px;
                position: absolute;
                left: 50%;
                margin-left: -137.5px;
                background-color: #fff; }
            .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .promotionTag {
              width: 50px;
              height: 50px;
              position: absolute;
              left: 28px;
              top: 10px; }
            .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt {
              margin: 0 16px;
              padding-bottom: 20px;
              line-height: 18px; }
              .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .tPrc {
                overflow: hidden;
                margin-bottom: 10px; }
                .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .tPrc .month_tag {
                  position: relative;
                  top: -2px;
                  display: inline-block;
                  padding: 0 2px;
                  background: linear-gradient(270deg, #ff8080 0, #e65c5c 100%);
                  border-radius: 2px;
                  color: #fff; }
                .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .tPrc .fenqi_price {
                  margin-right: 10px;
                  color: #e65c5c;
                  font-size: 16px;
                  font-family: DIN-Bold; }
                  .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .tPrc .fenqi_price em {
                    font-size: 16px;
                    font-weight: 700; }
                .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .tPrc .s_price {
                  position: relative;
                  color: #666;
                  font-size: 16px;
                  font-family: DIN-Bold;
                  font-weight: 400; }
                  .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .tPrc .s_price em {
                    position: relative;
                    color: #666;
                    font-size: 16px;
                    font-family: DIN-Bold;
                    font-weight: 400; }
                .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .tPrc .s_price::before {
                  content: '';
                  position: absolute;
                  top: 4px;
                  left: -7px;
                  width: 1px;
                  height: 12px;
                  background: #ddd; }
              .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .s_goods_name {
                height: 36px;
                line-height: 18px;
                margin-bottom: 8px;
                color: #666;
                overflow: hidden; }
              .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .goods_sale {
                margin-bottom: 4px;
                color: #999; }
                .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .goods_sale .sale_tips {
                  color: #cc5252;
                  margin-bottom: 8px; }
              .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .s_shop {
                display: block;
                margin-bottom: 7px;
                color: #999; }
              .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .sale_tags span {
                display: inline-block;
                line-height: 16px;
                padding: 0 7px;
                border-radius: 2px;
                background: 0 0;
                border: 1px solid #cc9952;
                color: #cc9952; }
              .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .goods_hover {
                position: absolute;
                bottom: 10px;
                width: 204px;
                display: none;
                background: #fff; }
                .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .goods_hover a {
                  display: block;
                  float: left;
                  border: 1px solid #eee;
                  box-sizing: border-box;
                  width: 50%;
                  text-align: center;
                  line-height: 28px;
                  color: #333; }
                .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li .goods_txt .goods_hover .add_to_cart {
                  color: #cc5252;
                  margin-left: -1px; }
          .W_main .W_list_wrap .list_right_area .goods_floor .s_goods_list ul li:hover .goods_hover {
            display: block; }
        .W_main .W_list_wrap .list_right_area .goods_floor .list_page {
          text-align: center;
          padding: 30px 0 40px; }
          .W_main .W_list_wrap .list_right_area .goods_floor .list_page a {
            display: inline-block;
            width: 28px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            color: #999;
            margin-left: 8px;
            border-radius: 50%;
            border: 1px solid #fff; }
          .W_main .W_list_wrap .list_right_area .goods_floor .list_page a.active {
            border: 1px solid #666;
            background-color: #666;
            color: #fff; }
          .W_main .W_list_wrap .list_right_area .goods_floor .list_page span {
            display: inline-block;
            width: 28px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            color: #999;
            margin-left: 8px;
            border-radius: 50%;
            border: 1px solid #fff; }
      .W_main .W_list_wrap .list_right_area .wb_words_floor {
        margin-bottom: 50px;
        background: #fff; }
        .W_main .W_list_wrap .list_right_area .wb_words_floor .works_link {
          padding: 22px 12px 0;
          color: #666; }
          .W_main .W_list_wrap .list_right_area .wb_words_floor .works_link .wort_tit {
            padding-bottom: 6px;
            margin-bottom: 6px;
            border-bottom: 1px solid #eee; }
            .W_main .W_list_wrap .list_right_area .wb_words_floor .works_link .wort_tit a {
              line-height: 12px; }
          .W_main .W_list_wrap .list_right_area .wb_words_floor .works_link ul {
            height: 26px;
            overflow: hidden; }
            .W_main .W_list_wrap .list_right_area .wb_words_floor .works_link ul li {
              display: block;
              float: left;
              margin-right: 15px;
              margin-bottom: 8px; }
              .W_main .W_list_wrap .list_right_area .wb_words_floor .works_link ul li a {
                color: #999; }

/*# sourceMappingURL=list.css.map */
